extends includes/layout

block content
  .container
    nav.navbar.navbar-toggleable-md.navbar-inverse
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#')
        .navbar-logo
          include /svg/logo.svg
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#section-1') Home
          li.nav-item
            a.nav-link(href='#section-2') Features
          li.nav-item
            a.nav-link(href='#section-3') Pricing
  section#section-1.section.section-1
  section#section-2.section.section-2
  section#section-3.section.section-3
