// Core variables and mixins
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";
// Custom variables
@import "variables";
// Reset and dependencies
@import "vendor/bootstrap/normalize";
@import "vendor/bootstrap/print";
// Core CSS
@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/type";
@import "vendor/bootstrap/images";
@import "vendor/bootstrap/grid";
// Components
@import "vendor/bootstrap/transitions";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/navbar";
// Utility classes
@import "vendor/bootstrap/utilities";

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.navbar-logo {
  svg {
    width: auto;
    height: 30px;
    vertical-align: middle;
  }

  path {
    fill: #f4f4f4;
  }
}

.section {
  height: 100vh;
}

.section-1 {
  background: linear-gradient(60deg, #e62f17 0%, #f2bb30 100%) no-repeat scroll center center/cover;
}

.section-2 {
  background: linear-gradient(60deg, #0a3466 0%, #17b9e6 100%) no-repeat scroll center center/cover;
}

.section-3 {
  background: linear-gradient(60deg, #17b9e6 0%, #82d9b8 100%) no-repeat scroll center center/cover;
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f6f9fc;
}
